Repository openshift/osde2e: changes, and which Tekton pipelines are due for each by the changed paths.
All: osde2e-main-on-push, sdn-migration-on-pull-request

osde2e-main-on-push:
  params:
  - name: dockerfile
    value: osde2e.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/osde2e/osde2e-main:{{revision}}
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

sdn-migration-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/test-suites/sdn-migration:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

set operator e2e timeout default to 900s
  configs/test-harness.yaml
Due: osde2e-main-on-push

misc: update renovate config to group packages
  renovate.json
Due: none

Test fails because reflect.DeepEqual is comparing different types
  pkg/e2e/osd/inhibitions.go
Due: osde2e-main-on-push

Red Hat Konflux update osde2e-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/osde2e-main-pull-request.yaml
  .tekton/osde2e-main-push.yaml
Due: osde2e-main-on-push

Red Hat Konflux update fedramp Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fedramp-pull-request.yaml
  .tekton/fedramp-push.yaml
Due: osde2e-main-on-push

Red Hat Konflux update sdn-migration Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/sdn-migration-pull-request.yaml
  .tekton/sdn-migration-push.yaml
Due: osde2e-main-on-push, sdn-migration-on-pull-request

.tekton/: reconfigure max-keep-runs and on-cel-expression
  .tekton/fedramp-pull-request.yaml
  .tekton/fedramp-push.yaml
  .tekton/osde2e-main-pull-request.yaml
  .tekton/osde2e-main-push.yaml
  .tekton/sdn-migration-pull-request.yaml
  .tekton/sdn-migration-push.yaml
Due: osde2e-main-on-push, sdn-migration-on-pull-request

renovate: extend boilerplate config
  renovate.json
Due: none

bump operator suite timeout for gap analysis jenkins jobs
  scripts/gap-analysis-jobs.sh
Due: none

bump operator suite timeout for gap analysis jenkins jobs (#2959)
  scripts/gap-analysis-jobs.sh
Due: none

Added billingID support for ROSA
  pkg/common/providers/rosaprovider/cluster.go
  pkg/common/providers/rosaprovider/config.go
Due: osde2e-main-on-push

Updated go mod files
  go.mod
  go.sum
Due: osde2e-main-on-push, sdn-migration-on-pull-request

Added Rosa Billing Account ID
  scripts/gap-analysis-jobs.sh
Due: none

Updated the config to set Bind env
  pkg/common/providers/rosaprovider/config.go
Due: osde2e-main-on-push

pass ocm service account credentials to test harness
  pkg/common/helper/helper.go
Due: osde2e-main-on-push

.tekton/sdn-migration*: keep on-cel-expressions
  .tekton/sdn-migration-pull-request.yaml
  .tekton/sdn-migration-push.yaml
Due: osde2e-main-on-push, sdn-migration-on-pull-request

SDCICD-1567: enable GINKGO_NO_COLOR
  pkg/common/helper/helper.go
Due: osde2e-main-on-push

if SkipDestroyCluster is selected, do not delete e2e harness namespace
  pkg/e2e/harness_runner/harness_runner.go
Due: osde2e-main-on-push

load SA creds to harness ns secret, remove boolean env var from test suite pod template
  pkg/common/helper/helper.go
  pkg/common/load/load.go
  pkg/common/runner/pod.go
Due: osde2e-main-on-push

pkg/e2e/executioner: add wip impl
  pkg/e2e/executioner/executioner.go
Due: osde2e-main-on-push

pkg/e2e/executioner: add Config struct
  pkg/e2e/executioner/executioner.go
Due: osde2e-main-on-push

allow using "reserved" rosa sts clusters for testing
  pkg/common/cluster/clusterutil.go
  pkg/common/clusterproperties/statuses.go
  pkg/common/config/config.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-push

pkg/e2e/executioner: add tests and resolve issues
  pkg/e2e/executioner/executioner.go
  test/executioner/executioner_suite_test.go
  test/executioner/executioner_test.go
Due: osde2e-main-on-push

pkg/e2e/executioner: create passthru secret
  pkg/e2e/executioner/executioner.go
Due: osde2e-main-on-push

go get latest
  go.mod
  go.sum
Due: osde2e-main-on-push, sdn-migration-on-pull-request

SDCICD-1594: assets: remove unused files
  assets/reports/weather-report/markdown.template
  assets/reports/weather-report/sd-report.template
  assets/reports/weather-report/slack-summary.template
Due: osde2e-main-on-push

SDCICD-1594: assets: remove more stuff
  assets/workloads/tests/badpod.yaml
  assets/workloads/tests/pod.yaml
  assets/workloads/tests/pods.yaml
  assets/workloads/tests/service.yaml
  pkg/common/helper/workloads_test.go
Due: osde2e-main-on-push

SDCICD-1594: assets: remove unused tf
  assets/terraform/setup-vpc.tf
Due: osde2e-main-on-push

Adding e2e for ocm-agent
  configs/e2e-suite.yaml
Due: osde2e-main-on-push

update image names per boilerplate standard
  configs/e2e-suite.yaml
Due: osde2e-main-on-push

chore(deps): update konflux references
  .tekton/fedramp-pull-request.yaml
  .tekton/osde2e-main-pull-request.yaml
  .tekton/osde2e-main-push.yaml
  .tekton/sdn-migration-pull-request.yaml
  .tekton/sdn-migration-push.yaml
Due: osde2e-main-on-push, sdn-migration-on-pull-request

Changing ocm-agent image name from -e2e to -test-harness
  configs/e2e-suite.yaml
Due: osde2e-main-on-push

chore(deps): update registry.access.redhat.com/ubi8/ubi-minimal:latest docker digest to fceb1f4
  .tekton/osde2e-main-e2e-test.yaml
Due: osde2e-main-on-push

remove mentions of "harness" - switch to ad-hoc image terminology in code
  assets/tests/ocp-tests-runner.template
  assets/tests/tests-runner.template
  cmd/osde2e/test/cmd.go
  configs/e2e-suite.yaml
  configs/test-harness.yaml
  pkg/common/config/config.go
  pkg/common/helper/helper.go
  pkg/common/label/label.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
  scripts/gap-analysis-jobs.sh
  scripts/parameterized-job.sh
Due: osde2e-main-on-push

Path conditions:
  osde2e-main-on-push: (any file but: ^(?:docs|\.github|scripts|test)/|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$) or (any of: .tekton/osde2e-main-push.yaml)
  sdn-migration-on-pull-request: ((any of: test/sdn_migration/***) or (any of: .tekton/sdn-migration-pull-request.yaml)) or (any of: go.*)
