Repository openshift/osde2e: changes, and which Tekton pipelines are due for each by the changed paths.
All: osde2e-main-on-push, sdn-migration-on-pull-request

.tekton/osde2e-main-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift/osde2e?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "25"
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "push"
      && target_branch == "main"
      && (files.all.exists(x, !x.matches('^(?:docs|\\.github|scripts|test)/|\\.md$|^(?:\\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$'))
          || ".tekton/osde2e-main-push.yaml".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: osde2e
    appstudio.openshift.io/component: osde2e-main
    pipelines.appstudio.openshift.io/type: build
  name: osde2e-main-on-push
  namespace: osde2e-cicada-tenant
spec:
  params:
  - name: dockerfile
    value: osde2e.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/osde2e/osde2e-main:{{revision}}
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: "true"
  pipelineRef:
    params:
    - name: name
      value: docker-build-oci-ta
    - name: bundle
      value: quay.io/konflux-ci/tekton-catalog/pipeline-docker-build-oci-ta@sha256:77c56b52c0ec517be3c2f84fe719a25dec46a2322dbbc8421866a22c2c484c77
    - name: kind
      value: pipeline
    resolver: bundles
  taskRunTemplate:
    serviceAccountName: build-pipeline-osde2e-main
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/sdn-migration-pull-request.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift/osde2e?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/pull_request_number: '{{pull_request_number}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "10"
    pipelinesascode.tekton.dev/on-cel-expression: event == "pull_request" && target_branch
      == "main" && ( "test/sdn_migration/***".pathChanged() || ".tekton/sdn-migration-pull-request.yaml".pathChanged()
      || "go.*".pathChanged() )
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: test-suites
    appstudio.openshift.io/component: sdn-migration
    pipelines.appstudio.openshift.io/type: build
  name: sdn-migration-on-pull-request
  namespace: osde2e-cicada-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/test-suites/sdn-migration:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: test/sdn_migration/Dockerfile
  - name: build-source-image
    value: "true"
  pipelineRef:
    params:
    - name: name
      value: docker-build-oci-ta
    - name: bundle
      value: quay.io/konflux-ci/tekton-catalog/pipeline-docker-build-oci-ta@sha256:77c56b52c0ec517be3c2f84fe719a25dec46a2322dbbc8421866a22c2c484c77
    - name: kind
      value: pipeline
    resolver: bundles
  taskRunTemplate:
    serviceAccountName: build-pipeline-sdn-migration
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

fix(e2e): disable ginkgo color reporting
  pkg/e2e/e2e.go
Due: osde2e-main-on-push

SDCICD-1566 enable passing a separate billing account for hcp job
  pkg/common/config/aws_config.go
  pkg/common/providers/rosaprovider/cluster.go
Due: osde2e-main-on-push

SDCICD-1597: Use get vpc api endpoint
  pkg/common/aws/vpc.go
  pkg/common/providers/mock/mock.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/common/providers/rosaprovider/wrapped_calls.go
  pkg/common/spi/provider.go
Due: osde2e-main-on-push

Add NodePool STS permissions test
  pkg/e2e/verify/nodepool.go
Due: osde2e-main-on-push

SDCICD-1597: Check if VPC CloudFormation stack exists
  pkg/common/aws/vpc.go
Due: osde2e-main-on-push

Update OWNERS
  test/sdn_migration/OWNERS
Due: sdn-migration-on-pull-request

Update OWNERS (#3014)
  test/sdn_migration/OWNERS
Due: sdn-migration-on-pull-request

SDCICD-1616: Implement get_artifacts tool
  internal/aggregator/service.go
  internal/aggregator/service_test.go
  internal/llm/tools/get_artifacts.go
  internal/llm/tools/tools.go
  internal/prompts/prompts.go
  internal/prompts/templates/provisioning-default.yaml
Due: osde2e-main-on-push

SDCICD-1616: Simplify Data Aggregator, Implement read_artifacts
  go.sum
  internal/aggregator/collector.go
  internal/aggregator/collector_test.go
  internal/aggregator/service.go
  internal/aggregator/service_test.go
  internal/llm/tools/get_artifacts.go
  internal/llm/tools/read_artifacts.go
  internal/llm/tools/tools.go
  internal/prompts/templates/provisioning-default.yaml
Due: osde2e-main-on-push, sdn-migration-on-pull-request

SDCICD-1616: Implement Metadata extractor.
  internal/aggregator/metadata.go
  internal/aggregator/service.go
Due: osde2e-main-on-push

SDCICD-1616: Improve prompt template
  internal/aggregator/collector.go
  internal/prompts/templates/provisioning-default.yaml
Due: osde2e-main-on-push

latest-default-y-minus-1-to-latest-default-y upgrade job script
  scripts/latest-default-y-minus-1-to-latest-default-y.sh
Due: none

Integrate LLM Analysis engine with osde2e
  cmd/osde2e/test/cmd.go
  pkg/common/config/config.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-push

internal/aggregator: drop metadata aggregation
  internal/aggregator/metadata.go
  internal/aggregator/service.go
Due: osde2e-main-on-push

fix
  scripts/latest-default-y-minus-1-to-latest-default-y.sh
Due: none

internal/aggregator: process junit files concurrently
  internal/aggregator/collector.go
Due: osde2e-main-on-push

internal/aggregator: flatten collector/service into single aggregator
  internal/aggregator/aggregator.go
  internal/aggregator/aggregator_test.go
  internal/aggregator/service.go
  internal/aggregator/service_test.go
Due: osde2e-main-on-push

Move Analysis Engine into internal
  internal/analysisengine/engine.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-push

Add latest-default-y-to-latest-y-plus-1 script
  scripts/periodic-ci-openshift-osde2e-main-osd-aws-upgrade-latest-default-y-to-latest-y-plus-1.sh
Due: none

Simplify internal/prompts package with unified template approach
  internal/llm/config.go
  internal/llm/gemini.go
  internal/prompts/prompts.go
  internal/prompts/prompts_test.go
  internal/prompts/templates/cleanup-default.yaml
  internal/prompts/templates/default.yaml
  internal/prompts/templates/infrastructure-default.yaml
  internal/prompts/templates/provisioning-default.yaml
  internal/prompts/templates/test-default.yaml
  internal/prompts/templates/upgrade-default.yaml
Due: osde2e-main-on-push

add logging to cluster reserve and provisioning
  pkg/common/cluster/clusterutil.go
  pkg/common/providers/ocmprovider/cluster.go
Due: osde2e-main-on-push

add logging to cluster reserve and provisioning (#3023)
  pkg/common/cluster/clusterutil.go
  pkg/common/providers/ocmprovider/cluster.go
Due: osde2e-main-on-push

NodePool STS Permissions-tighter STS detection, wait-based cleanup, better namespace lookup
  pkg/e2e/verify/nodepool.go
Due: osde2e-main-on-push

cmd/osde2e: set logger in context
  cmd/osde2e/main.go
Due: osde2e-main-on-push

feat(logging): register providers in main
  cmd/osde2e/main.go
  pkg/common/providers/ocmprovider/ocm.go
  pkg/common/providers/rosaprovider/rosa.go
Due: osde2e-main-on-push

feat(logging): setup log file earlier
  cmd/osde2e/main.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-push

Drop mmazur from OWNERS
  OWNERS
Due: none

Add standalone artifact collector for LLM failure analysis
  go.mod
  go.sum
  internal/aggregator/collector.go
  internal/aggregator/collector_test.go
  internal/aggregator/service.go
  internal/aggregator/service_test.go
Due: osde2e-main-on-push, sdn-migration-on-pull-request

SDCICD-1616: collect log anomalies
  internal/aggregator/aggregator.go
  internal/aggregator/aggregator_test.go
  internal/analysisengine/engine.go
  internal/llm/tools/read_artifacts.go
  internal/prompts/templates/default.yaml
Due: osde2e-main-on-push
