Repository openshift/osde2e: changes, and which Tekton pipelines are due for each by the changed paths.
All: osde2e-main-on-push, sdn-migration-on-pull-request

.tekton/osde2e-main-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift/osde2e?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "25"
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "push"
      && target_branch == "main"
      && (files.all.exists(x, !x.matches('^(?:docs|\\.github|scripts|test)/|\\.md$|^(?:\\.gitignore|.golang-ci.yml|OWNERS|LICENSE|renovate.json)$'))
          || ".tekton/osde2e-main-push.yaml".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: osde2e
    appstudio.openshift.io/component: osde2e-main
    pipelines.appstudio.openshift.io/type: build
  name: osde2e-main-on-push
  namespace: osde2e-cicada-tenant
spec:
  params:
  - name: dockerfile
    value: osde2e.Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/osde2e/osde2e-main:{{revision}}
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: "true"
  pipelineRef:
    params:
    - name: name
      value: docker-build-oci-ta
    - name: bundle
      value: quay.io/konflux-ci/tekton-catalog/pipeline-docker-build-oci-ta@sha256:77c56b52c0ec517be3c2f84fe719a25dec46a2322dbbc8421866a22c2c484c77
    - name: kind
      value: pipeline
    resolver: bundles
  taskRunTemplate:
    serviceAccountName: build-pipeline-osde2e-main
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/sdn-migration-pull-request.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift/osde2e?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/pull_request_number: '{{pull_request_number}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "10"
    pipelinesascode.tekton.dev/on-cel-expression: event == "pull_request" && target_branch
      == "main" && ( "test/sdn_migration/***".pathChanged() || ".tekton/sdn-migration-pull-request.yaml".pathChanged()
      || "go.*".pathChanged() )
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: test-suites
    appstudio.openshift.io/component: sdn-migration
    pipelines.appstudio.openshift.io/type: build
  name: sdn-migration-on-pull-request
  namespace: osde2e-cicada-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/osde2e-cicada-tenant/test-suites/sdn-migration:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: test/sdn_migration/Dockerfile
  - name: build-source-image
    value: "true"
  pipelineRef:
    params:
    - name: name
      value: docker-build-oci-ta
    - name: bundle
      value: quay.io/konflux-ci/tekton-catalog/pipeline-docker-build-oci-ta@sha256:77c56b52c0ec517be3c2f84fe719a25dec46a2322dbbc8421866a22c2c484c77
    - name: kind
      value: pipeline
    resolver: bundles
  taskRunTemplate:
    serviceAccountName: build-pipeline-sdn-migration
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

Remove custom-domains-operator from jobs
  configs/e2e-suite.yaml
  configs/inspect-namespaces.yaml
  pkg/common/config/config.go
Due: osde2e-main-on-push

remove mentions of "harness" - switch to ad-hoc image terminology in code
  assets/tests/ocp-tests-runner.template
  assets/tests/tests-runner.template
  cmd/osde2e/test/cmd.go
  configs/ad-hoc-image.yaml
  configs/e2e-suite.yaml
  configs/test-harness.yaml
  pkg/common/config/config.go
  pkg/common/helper/helper.go
  pkg/common/label/label.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
  scripts/gap-analysis-jobs.sh
  scripts/parameterized-job.sh
Due: osde2e-main-on-push

update image names per boilerplate standard (#2975)
  assets/tests/ocp-tests-runner.template
  assets/tests/tests-runner.template
  cmd/osde2e/test/cmd.go
  configs/ad-hoc-image.yaml
  configs/e2e-suite.yaml
  configs/test-harness.yaml
  pkg/common/config/config.go
  pkg/common/helper/helper.go
  pkg/common/label/label.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
  scripts/gap-analysis-jobs.sh
  scripts/parameterized-job.sh
Due: osde2e-main-on-push

SDCICD-1585 Increase Harness Timeout to 30 minutes
  configs/ad-hoc-image.yaml
  configs/e2e-suite.yaml
Due: osde2e-main-on-push

SDCICD-1585 Add support for "CAD_PAGERDUTY_ROUTING_KEY" env variable
  pkg/common/config/config.go
  pkg/common/helper/helper.go
Due: osde2e-main-on-push

Fix billing account issue
  pkg/common/providers/rosaprovider/cluster.go
  pkg/common/providers/rosaprovider/config.go
Due: osde2e-main-on-push

pkg/e2e/executor: add initial implementation
  pkg/e2e/executor/executor.go
  pkg/e2e/executor/junit.go
  test/executor/executor_suite_test.go
  test/executor/executor_test.go
Due: osde2e-main-on-push

go get latest
  go.mod
  go.sum
Due: osde2e-main-on-push, sdn-migration-on-pull-request

allow using "reserved" rosa sts clusters for testing
  cmd/osde2e/test/cmd.go
  pkg/common/cluster/clusterutil.go
  pkg/common/clusterproperties/statuses.go
  pkg/common/config/config.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-push

provision cluster reserve for testing
  cmd/osde2e/main.go
  cmd/osde2e/provision/cmd.go
  cmd/osde2e/test/cmd.go
  pkg/common/cluster/clusterutil.go
  pkg/common/config/config.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-push

fix missing secret error for jobs without PD key
  pkg/common/config/config.go
Due: osde2e-main-on-push

fix missing secret error for jobs without PD key
  pkg/common/config/config.go
  pkg/common/load/load.go
Due: osde2e-main-on-push

fix missing secret error for jobs without PD key (#2983)
  pkg/common/load/load.go
Due: osde2e-main-on-push

Adding e2e image for ocm-agent
  configs/e2e-suite.yaml
Due: osde2e-main-on-push

SDCICD-1602: rm ocp based tests
  assets/tests/ocp-tests-runner.template
  cmd/osde2e/test/cmd.go
  configs/blocking-suite.yaml
  configs/conformance-suite.yaml
  docs/Config.md
  pkg/common/config/config.go
  pkg/common/label/label.go
  pkg/e2e/openshift/app_builds.go
  pkg/e2e/openshift/config.go
  pkg/e2e/openshift/conformance.go
  pkg/e2e/openshift/disruptive.go
  pkg/e2e/openshift/images.go
  pkg/e2e/openshift/osdclusterready.go
Due: osde2e-main-on-push

fixup! pkg/e2e/executor: add initial implementation
  pkg/e2e/executor/executor.go
  test/executor/executor_test.go
Due: osde2e-main-on-push

pkg/e2e/adhoctestimages: use executor
  pkg/e2e/adhoctestimages/adhoctestimages.go
Due: osde2e-main-on-push

pkg/e2e/adhoctestimages: use executor
  configs/ad-hoc-image.yaml
  pkg/common/config/config.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
Due: osde2e-main-on-push

pkg/e2e/adhoctestimages: log timeout
  pkg/e2e/adhoctestimages/adhoctestimages.go
Due: osde2e-main-on-push

configs/e2e-suite: use default adHocTestContainerTimeout
  configs/e2e-suite.yaml
Due: osde2e-main-on-push

scripts/gap-analysis-jobs.sh: remove AD_HOC_TEST_CONTAINER_TIMEOUT
  scripts/gap-analysis-jobs.sh
Due: none

pkg/e2e: create executor from kubeconfig if set
  pkg/e2e/adhoctestimages/adhoctestimages.go
  pkg/e2e/executor/executor.go
Due: osde2e-main-on-push

add passthru secrets from env as well as from fileSecrets for compatibility with tekton env
  pkg/common/load/load.go
  pkg/e2e/adhoctestimages/adhoctestimages.go
Due: osde2e-main-on-push

pkg/e2e: return cluster to set in viper
  cmd/osde2e/provision/cmd.go
  pkg/common/cluster/clusterutil.go
  pkg/e2e/e2e.go
Due: osde2e-main-on-push

SDCICD-1597 Add support for VPC cleanup
  cmd/osde2e/cleanup/cmd.go
  pkg/common/aws/vpc.go
Due: osde2e-main-on-push

go.mod: bump osde2e-common to latest
  go.mod
  go.sum
Due: osde2e-main-on-push, sdn-migration-on-pull-request

SDCICD-1592 command to provision clusters for PD reserve jenkins job
  scripts/provision-cluster-reserve.sh
Due: none

SDCICD-1592 command to provision clusters for PD reserve jenkins job (#2996)
  scripts/provision-cluster-reserve.sh
Due: none

SDCICD-1600 update VPC cleanup process to remove VPCs created by CloudFormation stacks - Assisted-by: cursor
  cmd/osde2e/cleanup/cmd.go
  go.mod
  go.sum
  pkg/common/aws/vpc.go
Due: osde2e-main-on-push, sdn-migration-on-pull-request

Add prompt template management system for LLM-based failure analysis
  .gitignore
  go.mod
  internal/prompts/prompts.go
  internal/prompts/prompts_test.go
  internal/prompts/template.go
  internal/prompts/template_test.go
  internal/prompts/templates/cleanup-default.yaml
  internal/prompts/templates/infrastructure-default.yaml
  internal/prompts/templates/provisioning-default.yaml
  internal/prompts/templates/test-default.yaml
  internal/prompts/templates/upgrade-default.yaml
Due: osde2e-main-on-push, sdn-migration-on-pull-request

go.mod: go get github.com/openshift/osde2e-common@latest
  go.mod
  go.sum
Due: osde2e-main-on-push, sdn-migration-on-pull-request

SDCICD-1615: Add pluggable LLM client interface
  go.mod
  go.sum
  internal/llm/config.go
  internal/llm/gemini.go
  internal/llm/gemini_test.go
  internal/llm/interface.go
  internal/llm/mock.go
  internal/llm/mock_test.go
Due: osde2e-main-on-push, sdn-migration-on-pull-request

Added `label.Test` for developing
  pkg/common/label/label.go
Due: osde2e-main-on-push

SDCICD-1615: Add pluggable LLM client interface
  go.mod
  go.sum
  internal/llm/config.go
  internal/llm/gemini.go
  internal/llm/gemini_test.go
  internal/llm/interface.go
Due: osde2e-main-on-push, sdn-migration-on-pull-request

internal/llm: set backend and model
  internal/llm/gemini.go
Due: osde2e-main-on-push

internal/prompts: use float32s
  internal/prompts/prompts.go
Due: osde2e-main-on-push
